<div class="content-grid">
  <h2 class="h2">Les jeux</h2>

  <p class="toto">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium
    reprehenderit dolor neque est illo, culpa error quo ea optio, porro fugiat
    libero veniam, ullam corrupti quod temporibus et? Molestias, rerum. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Earum doloribus nisi
    cupiditate cumque, accusantium reiciendis eveniet fuga qui neque eos.
    Expedita amet alias, eligendi autem sequi molestiae maiores fuga
    praesentium.
  </p>

  <div
    class="games-items"
    style=""
  >
    <catholic-games-card>
      <img
        card-thumbnails
        src="https://images.unsplash.com/photo-1607274227313-08146c819e6f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400"
        alt=""
      />
      <div card-title>The Verb</div>
      <div card-content>
        <p>
          Le jeu The Verb est un jeu de devinettes de mots où les joueurs
          doivent deviner un mot cible en six tentatives ou moins, en utilisant
          des indices de couleur pour déterminer si les lettres sont correctes
          et bien placées.
        </p>
      </div>
    </catholic-games-card>

    <catholic-games-card>
      <img
        card-thumbnails
        src="https://images.unsplash.com/photo-1607274227313-08146c819e6f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400"
        alt=""
      />
      <div card-title>The Verb</div>
      <div card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi,
          molestiae mollitia? Ipsam odio quidem hic repellendus quia doloribus
          molestias, deleniti harum vel fugiat tenetur accusantium, recusandae,
          sint nisi reiciendis quod.
        </p>
      </div>
    </catholic-games-card>

    <catholic-games-card>
      <img
        card-thumbnails
        src="https://images.unsplash.com/photo-1607274227313-08146c819e6f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400"
        alt=""
      />
      <div card-title>The Verb</div>
      <div card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi,
          molestiae mollitia? Ipsam odio quidem hic repellendus quia doloribus
          molestias, deleniti harum vel fugiat tenetur accusantium, recusandae,
          sint nisi reiciendis quod.
        </p>
      </div>
    </catholic-games-card>
  </div>
</div>
